<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">

<!-- 23 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
5.1 Estabilidad y equilibrio
</h3>
<a href="pages/5_1_estabilidad_equilibrio.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 24 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
5.2 Carga crítica con diferentes restricciones
</h3>
<a href="pages/5_2_carga_critica.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

</div>