<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">

<!-- 18 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
4.1 Enfoque general
</h3>
<a href="pages/4.1_enfoque_general.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 19 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
4.2 El método de superposición
</h3>
<a href="pages/4.2_metodo_superposicion.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 20 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
4.3 Método del área del diagrama de momento
</h3>
<a href="pages/4.3_area_momento.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 21 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
4.4 Ecuación de los tres momentos
</h3>
<a href="pages/4.4_tres_momentos.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 22 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
4.5 Solución de problemas
</h3>
<a href="pages/4.5_solucion_problemas.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

</div>