<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">

<!-- 12 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
3.1 Introducción
</h3>
<a href="pages/3_1_introduccion.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 13 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
3.2 Relaciones entre curvatura y deformación
</h3>
<a href="pages/3_2_curvatura_deformacion.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 14 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
3.3 Ecuación diferencial de la elástica
</h3>
<a href="pages/3_3_ecuacion_elastica.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 15 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
3.4 Método de la doble integración
</h3>
<a href="pages/3_4_doble_integracion.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 16 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
3.5 Método del área del diagrama de momento
</h3>
<a href="pages/3.5 area_momento.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

<!-- 17 -->
<div class="tema bg-white dark:bg-gray-800 p-6 rounded-xl shadow hover:shadow-xl hover:scale-105 transition">
<h3 class="font-semibold text-blue-800 dark:text-blue-400 mb-3">
3.6 Solución de problemas
</h3>
<a href="pages/3_6_solucion_problemas.html"
class="bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">
Ver tema
</a>
</div>

</div>