<header class="bg-gradient-to-r from-blue-900 via-blue-800 to-blue-700 text-white py-10 mt-16">

<div class="max-w-5xl mx-auto text-center px-6">

<h1 class="text-4xl md:text-5xl font-bold mb-6 animate-pulse">
Ingeniería Estructural y Resistencia de Materiales
</h1>

<p class="text-xl mb-4">
Guía Interactiva para estudiantes, diseñada para facilitar el aprendizaje de los conceptos fundamentales de Resistencia de Materiales mediante explicaciones teóricas, ejemplos y recursos interactivos.
</p>

</div>

</header>