<nav class="bg-blue-900 text-white shadow-md fixed w-full top-0 z-50">

<div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

<h1 class="font-bold text-lg">
⚙️ Ingeniería CUNOC
</h1>

<div class="space-x-6 text-sm">

<a href="/" class="hover:text-gray-300 transition">
Inicio
</a>

<a href="#temas" class="hover:text-gray-300 transition">
Temas
</a>

<!-- SWITCH DARK MODE -->

<button id="modoBtn"
class="relative w-14 h-7 bg-gray-300 dark:bg-gray-700 rounded-full transition duration-300">

<div id="switch"
class="absolute left-1 top-1 w-5 h-5 bg-white rounded-full flex items-center justify-center text-xs transition-all duration-300">

🌙

</div>

</button>
</div>

</div>

</nav>